<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@Resources.Resource.HomePageTitle, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@Resources.Resource.QueueManagerHeader, "Index", "QueueManager", new { area = "" }, null)</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@Resources.Resource.RegisterPageTitle, "Register", "Account", new { area = "" }, null)</li>
                </ul>
                <ul class="nav navbar-nav">

                    @{
                        string userName = @ViewBag.userName;

                    }
                    @if (string.IsNullOrEmpty(userName))
                    {
                        userName = @Resources.Resource.EnterButtonLabel;
                    }
                    else
                    {
                        userName += " " + @Resources.Resource.ExitButtonLabel;
                    }

                    <li>@Html.ActionLink(userName, "Logout", "Account", new { area = "" }, null)</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="/Home/ChangeCulture?lang=ru">@Resources.Resource.RussianLang</a></li>
                    <li><a href="/Home/ChangeCulture?lang=en">@Resources.Resource.EnglishLang</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
