@model HandleErrorInfo
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Resource.ErrorPageTitle</title>
</head>
<body>
    <hgroup>
        <h1>@Resources.Resource.ErrorPageHeader</h1>
        <h2>@Resources.Resource.ErrorPageMessage</h2>
    </hgroup>
    <p><b>Controller</b></p>
    <h4>@Model.ControllerName</h4>
    <p><b>Action</b></p>
    <p>@Model.ActionName</p>
    <p><b>Error</b></p>
    <p>@Model.Exception</p>

    @Html.ActionLink(Resources.Resource.ErrorPageReturnUrl, "Index")
</body>
</html>
